---
services:
  postgres:
    image: postgres:17.8
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_GATUS_DB}
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - database
    ports:
      - "5432:5432"

networks:
  database:
    external: true
