---
name: Render diagrams
'on':
  push:
    branches:
      - main
    paths:
      - '.github/workflows/diagrams-render.yml'
      - 'diagrams/diagram.py'

permissions:
  contents: write

jobs:
  render-diagrams:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: Install graphviz
        run: |
          sudo apt-get update
          sudo apt-get install graphviz -y
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Render diagrams
        run: |
          python diagrams/diagram.py
      - name: Commit diagram
        uses: EndBug/add-and-commit@v9
        with:
          message: "Render diagrams from Github Actions"
          add: 'diagrams/png/infra_diagram.png'
